#--------------------------------------------------------
# Git ignore files and folders
# https://help.github.com/articles/ignoring-files
#--------------------------------------------------------

#-----Standard Ignore for Java files
*.class
*.jar
*.war
*.ear
bin/

#---Excluded from previously defined ignore (means DON'T ignore)
!IntelliJIDEA*.jar


#-----Ignore Eclipse files
.metadata

#-----Ignore IntelliJ IDEA v12 files (http://devnet.jetbrains.com/docs/DOC-1186)
.iws
.idea/tasks.xml
.idea/workspace.xml
out/

#-----Other temporaty files
.~*
~*
